h1{
    color: rgb(137, 186, 235);
}
input[type=email],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid rgb(137, 186, 235);
    box-sizing: border-box;
}
button{
    background-color: rgb(137, 186, 235);
    color: white;
    font-family: Arial, sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}
.container{
    padding: 16px;
}
span.psw{
    float: right;
    padding-top: 16px;
}
@media screen and (max-width:300px) {
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 100%;
    }
}