{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}" />
{% endblock %}
{% block title %}
    - Login
{% endblock %}

{% block content %}
<form action="/login" method="post">
    <div class="container-index">
        <b>{{ form.email.label }}</b>
        {{ form.email }}
        <br>
        <br>
        <b>{{ form.psw.label }}</b>
        {{ form.psw }}
        <br>
        <br>
        {{ form.submit }}
    </div>
</form>
{% endblock %}