{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/workstation.css") }}"/>
    <script type="text/javascript" src="{{ url_for("static", filename="js/workstation.js") }}"></script>
{% endblock %}
{% block title %}
    - Workstation - {{ name }}
{% endblock %}
{% block header %}
    <header class="header-workstation">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="{{ url_for("static", filename="resources/viewcast_white.png") }}"
                         style="height:40px; margin-top: 10px;"/></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    </li>
                    </ul>
                    <form class="d-flex">
                        <button class="logout" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <div class="split left-container">
        <h2>left-container</h2>
        <table>
        {% for row in table %}
            <tr>
            {% for cell in row %}
                <td><img id="{{ cell.rsplit('.')[0].lower() }}" src="{{ url_for("static", filename="medias/john/" + cell) }}" height="100px" draggable="true" ondragstart="drag(event)"> </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <button class="icon-add" style="font-size: 32px;" onclick="openForm()">
            <i class="fa-solid fa-circle-plus icon-add"></i>
        </button>

        <div class="split right-container">
            <h2>right-container</h2>
            <!-- TODO doucle pour chaque difusion  -->
        </div>

    </div>
    <div class="bottom-container">
        <h2>bottom-container</h2>
        <!-- TODO doucle pour chaque media  -->
        <table>
            <tr id="myRow"  ondragover="allowDrop(event)" ondrop="drop(event)">
              <td > </td>
            </tr>
          </table><br>
    </div>

    <div class="form-popup" id="myForm">
        <form class="form-container" method="post" enctype=multipart/form-data>
            <p>{{ form.media }}</p>
            <p>{{ form.upload }}
                <button type="button" class="cancel" onclick="closeForm()">Close</button>
            </p>
        </form>
    </div>

{% endblock %}