{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/workstation.css") }}"/>
{% endblock %}
{% block title %}
    - Workstation
{% endblock %}
{% block header %}
    <header class="header-workstation">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="{{ url_for("static", filename="resources/viewcast_white.png") }}"
                         style="height:40px; margin-top: 10px;"/></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    </li>
                    </ul>
                    <form class="d-flex">
                        <button class="logout" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <div class="split right-container">
        <h2>right-container</h2>
         <!-- TODO doucle pour chaque media  -->
    </div>

    <div class="split left-container">
        <h2>left-container</h2>
         <!-- TODO doucle pour chaque difusion  -->

    </div>
    <div class="bottom-container">
        <h2>bottom-container</h2>
        <!-- TODO doucle pour chaque media  -->
    </div>

{% endblock %}