.menu {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 25%;
    font-family: Montserrat Regular, Arial, Helvetica, sans-serif;
}

#login{
    background-color:#043C66;
    padding: 28px 350px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
}
#login:hover{
    background-color: #0073C9;
}
#subscribe{
    background-color: #043C66;
    padding: 28px 350px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
}
#subscribe:hover{
    background-color: #0073C9;
}

#watch{
    background-color: #043C66;
    padding: 28px 350px;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    color: white;
}
#watch:hover{
    background-color: #0073C9;
}