.header-workstation {
    background-color: #043C66;
    height: 100%;
}

.logout {
    background-color: #0073C9;
    padding: 10px 50px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: #0073C9;
    color: white;
}

.logout:hover {
    background-color: #E7F2F7;
    color: black;
}

.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-container {
    left: 0;
    overflow-y: auto;
    background-color: #E7F2F7;
    border-style: solid;
    border-color: #0073C9;
    border-width: 2px;
    text-align: center;
    font-family: Montserrat Regular, Arial, Helvetica, sans-serif;
}

.right-container {
    right: 0;
    overflow-y: auto;
    background-color: #E7F2F7;
    border-style: solid;
    border-color: #0073C9;
    border-width: 2px;
    font-family: Montserrat Regular, Arial, Helvetica, sans-serif;
}

.bottom-container {
    left: 0;
    height: 50%;
    width: 100%;
    position: fixed;
    top: 60%;
    z-index: 1;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #E7F2F7;
    border-style: solid;
    border-color: #0073C9;
    border-width: 2px;
    font-family: Montserrat Regular, Arial, Helvetica, sans-serif;
}

.icon{
    width: 32px;
    height: 32px;
    border: none;
    color: #0073C9;
}

.icon-add {
    position: fixed;
    top: 54%;
    right: 52%;
}

.icon-check{
    position: fixed;
    bottom :2%;
    right: 2%;
}



.form-popup {
    display: none;
    position: absolute;
    bottom: 41%;
    right: 52%;
    border-style: solid;
    border-color: #0073C9;
    border-width: 2px;
    z-index: 9;
    background-color: #E7F2F7;
}

.form-container {
    max-width: 300px;
    padding: 10px;
}

.cancel {
    position: fixed;
    background-color: #0073C9;
    color: white;
    right: 55%;
}


td {
    border: 1px solid #0073C9;
    height: 150px;
    width: 200px;
    text-align: center;
}
td.time-line-input{
    height: 50px;
}